<div style="display: flex;">
  <mat-card style="margin: auto; padding: 2rem 5rem;">
    <div>
      <a mat-flat-button mat-icon-button id="backButton" [routerLink]="['/movies']" style="background-color: #eee; color: gray; display: flex; width: fit-content;">
        <mat-icon>home</mat-icon>
        Back
      </a>
    </div>
    <mat-card-title-group style="margin-top: 2rem;">
      <mat-card-title><h1>{{ movie.title }}</h1></mat-card-title>
    </mat-card-title-group>
    <mat-card-content style="display: flex;">
      <div class="poster" style="width: 25%;">
        <img mat-card-md-image [src]="movie.poster" alt="poster" style="width: 100%; height: 100%;">
      </div>
      <div class="summary" style="width: 75%;">
        <span style="font-weight: bold; color: #000;">Summary: </span>
        {{ movie.summary }}
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="details">
        <h2 style="text-align: center; margin-top: 4rem;">Details</h2>
        <mat-grid-list cols="4" rowHeight="2:1">
          @for (detail of detailsRows; track $index) {
            <div>
              <mat-grid-tile [colspan]="1" style="border: solid;">{{ detail.label }}</mat-grid-tile>
              <mat-grid-tile [colspan]="3" style="border: solid;">{{ getDetailValue(detail) }}</mat-grid-tile>
            </div>
          }
        </mat-grid-list>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
